/* COLOR Y VARIABLES
--------------------------------- */
:root {
  --m-acento: #FE9677;
  --s-acento: #F64668;
  --f-acento: #984063;
  --m-figura: #c8e9ee;
  --s-figura: #4c6e81;
  --fondo: #2a3950;
  --s-fondo: #41436A;
  transition: all 2s ease;
}

/* ------------------------------ */
span {
  font-weight: bold;
  font-size: 1.25em;
}

a {
  color: var(--m-acento);
}

img {
  max-width: 100%;
  height: auto;
}

body {
  transition: color 1s ease;
}

.h {
  display: none;
}

/* MENU
--------------------------------- */
.op-menu {
  text-align: center;
  margin-top: 3rem;
  /* border-bottom: 1px solid #4c6e81; */
}

.m-op {
  color: var(--fondo);
  background-color: var(--m-figura);
  border-color:  var(--m-figura);
  border-width: 1px;
}

.s-op {
  border-color: var(--m-figura);
  color: var(--m-figura);
}

.m-op:hover:enabled, .m-op:focus{
  border: 3px solid var(--s-acento);
}
.s-op:hover:enabled, .s-op:focus {
  border: 3px solid var(--m-acento);
  color: var(--m-acento);
}

/* JUEGO
--------------------------------- */

.sketch {
  height: 100%;
  position: fixed;
  /* position: sticky; */
  top: 0px;
}

#l-bar {
  transition: all .5s ease-out;
}

.hp {
  display: inline-block;
  width: calc(9/12 * 100%);
  opacity: calc(9/12 *.75 + .25);
}

.carta {
  /* font-style: normal;
  border-radius: 4px;
  border: 2px solid var(--m-figura);
  padding: 10px; */
  /* background-color: var(--fondo); */
  /* background-color: #7aacb3;
  color: #3b3759; */
}

.accion {
  border-color: var(--m-figura);
  color: var(--m-figura);
  background-color: var(--fondo);
  border-width: 2px;
  font-weight: bold;
}
.accion:hover:enabled {
  border-color: var(--s-acento);
  color: var(--m-figura);
}
.accion:disabled {
  border-color: var(--s-figura);
  color: var(--s-figura);
  border-width: 1px;
}
.accion:focus {
  border-color: var(--s-acento);
  color: var(--m-figura);
  border-width: 4px;
}

.pasar {
  color: var(--fondo);
  background-color: var(--m-figura);
  border-color:  var(--m-figura);
  border-width: 1px;
}
.pasar:focus, .pasar:hover:enabled {
  color: var(--fondo);
  border-color:  var(--s-acento);
  border-width: 3px;
}
.pasar:disabled {
  color: var(--s-figura);
  border-color:  var(--s-figura);
  background-color: var(--fondo);
  border-width: 1px;
}

.entorno{
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--s-figura);
}

.alerta{
  text-align: center;
  position: fixed;
  top: 30%;
  width: 100%;
  color: var(--m-figura);
}
.cont-alerta{
  padding: 10px 30px;
  border-radius: 4px;
  border: 1px solid var(--m-figura);
}

.mundo{
  font-size: 20px;
  text-align: justify;
}
